*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color) ;
    color: var(--nav-links);
}

img{
    width: 450px;
    height: 450px;
}

:root {
    --main-bg-color: black;
    --nav-links: white;
}

.header-title{
    display: flex;
    justify-content: space-between;
    border: 2px black solid;
    height: 50px;
}

.nav-title{
    border: 2px black solid;
    width: 50%;
    margin-right: 3rem;
    align-self: center;
}

.title-name {
    display: flex;
    margin-left: 3rem;
    align-self: center;
    color: var(--nav-links);
    text-transform: uppercase;

}

.nav-links{
    display: flex;
    justify-content: space-between;
    
   
    
}

.nav-links a, li{
    text-decoration: none;
    list-style-type: none;
    text-transform: uppercase;
    font-size: .7rem;
    color: var(--nav-links);
    
}
/* HERO SECTION*/
.hero-section {
    height: 600px;
}

.container {
    height: 450px;
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    
}

.hero-title {
    margin-top: 8rem;
}

.hero-header {
    font-size: 6rem;
}

.hero-text {
    width: 50%;
    margin-top: 1rem;
    font-size: 1.3rem;
    line-height: 1.8rem;
}

.hero-btn {
    margin-top: 1rem;
}

.btn {
    padding: 15px 35px;
    text-align: center;
    background-color: var(--nav-links);
    color: black;
    border-radius: 1.4rem;
    border: none;
    cursor: pointer;
    letter-spacing: .1rem;
    font-size: .7rem;
    margin-top: 1rem;
}



/*Video Section*/
.video-section {
    height: 700px;
}

.video-container {
    height: 600px;
    margin: 0 auto;
    width: 90%;
    margin-top: 3rem;
    background-image: url("/img/diversity.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

/* words section */

.quote {
    height: 20rem;
}

.quote-section {
    height: 20rem;
    width: 50%;
    margin: 0 auto;
    margin-top: 5rem;

}

.quote-style {
    font-size: 3rem;
    margin-top: 4rem;
    text-align: center;
    font-weight: normal;

}

/* Alternating Section */ 
.alternating-section {
    height: 1900px;
}

.section-left {
    height: 650px;
    display: flex;
    justify-content: space-evenly;
}

.img-container {
    height: 30rem;
    width: 35rem;
    overflow: hidden;
    position: relative;
}

.img-container img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.right-content {
    height: 280px;
    width: 30%;
    margin-top: 5rem;
    margin-right: 2rem;
}

.right-text {
    line-height: 2rem;
    font-weight: normal;
    font-size: 1.5rem;
}

.right-btn {
    margin-top: 2rem;
}


.right-container {
    display: flex;
    justify-content: space-evenly;
    height: 650px;
}

/*explore section */
.explore-projects {
    display: flex;
    flex-direction: column;
    height: 20rem;

}

.explore-container{
    text-align: center;
    margin-top: 5rem;
}

.explore-text-container {
    width: 40%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 8rem;
}
.explore-text {
    font-size: 2.8rem;
    line-height: 3.6rem;
    font-weight: normal;
}

/*two column section */

.two-column-section {
    margin-top: 4rem;

}

.two-column-container {
    display: flex;
    text-align: center;
}

.two-col-desc {
    display: flex;
    text-align: start;
    margin-left: 7rem;
    margin-top: 1.3rem;
    line-height: 2rem;
}

.two-col-text {
    display: flex;
    margin-left: 7rem;
    margin-top: 1.3rem;
    font-weight: 500;
    font-size: 1.5rem;
}


/* Logo Section */ 

.logo-section {
    margin-top: 5rem;
}

.logo-container {
    height: 20rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}



.bxl-ebay, .bxl-paypal, .bxl-linkedin {
    color: white;
    font-size: 4rem;
}



/* partner section */
.partner-section {
    margin-top: 10rem;
}

.partner-container {
    text-align: center;
}

.partner-header {
    font-size: 4rem;
    font-weight: normal;
}

.partner-btn {
    margin-top: 2rem;
}


/* footer */

footer {
    margin-top: 10rem;
}